/************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', sans-serif;

}


#bloc-page {
width:992px;
max-width: 100%;
margin: 0 auto;
display: flex;
flex-flow: column wrap;

}

/*general style*/
:root {
    ---darkblue: #0065FC;
    ---lightblue: #DEEBFF;
    ---backgrey: #F2F2F2;
   
}
.bluestar{
    color: var(---darkblue);
}
.greystar{
    color: var(---backgrey);
}
a{
    font-style: normal;
    color: inherit;
}

/***********************HEADER********************/
header {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

}

/*logo*/
.header-logo {
    width: 10%;
    display: block;
}

.header-logo img {
    max-width: 100%;
    min-height: 100%;
}

/*menu*/
.header-menu {
    padding-left: 0;
    margin: -2px;
}

.header-menu-items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-left: 0;
}

.header-menu-items li {
    padding: 20px;
}

.header-menu-items li :hover {
    border-top: 2px solid var(---darkblue);
    color: var(---darkblue);
    padding-top: 30px;
}

/********************SEARCHBOX*********************/

/*intro*/
.search-section-container {
    flex-basis: 100%;
    margin: 0 auto;
    flex-flow: row wrap;
    margin: 0 auto;
}

/*searchbox*/
.search-box {
    display: inline-block;
}

form {
    position: relative;
    height: 50px;
}

/*icon*/
label {
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
    text-align: center;
    background-color: var(---backgrey);
    border-radius: 15px 0 0 15px;
    outline: none;
}

.search-icon {
    padding-top: 15px;
}

/*textzone*/
input {
    height: 50px;
    position: absolute;
    font-weight: bold;
    border: 2px solid var(---backgrey);
}

input[type=text] {
    display: inline-block;
    padding-left: 60px;
    border-radius: 15px;
    width: 300px;
    outline: none;
}

input[type=submit] {
    position: relative;
    margin-left: 200px;
    border-radius: 0 15px 15px 0;
    background-color: var(---darkblue);
    border: none;
    color: white;
    outline: none;
}


/*placeholder*/
::placeholder {
    color: black;
    opacity: 1;
}

/*mobile-submit*/
button {
    position: absolute;
    height: 50px;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    color: white;
    left: 250px;
    width: 50px;
    border-radius: 10px;
    outline: none;
    background-color: var(---darkblue);
    border: none;
    display: none;
}

/*filters*/
.filters-wrap {
    margin: 0 auto;
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: small;
}

.filters-box {
    display: flex;
    flex-flow: row wrap;
}

.filters-items {
    margin: 20px;
    padding-right: 10px;
    border-radius: 30px;
    border: 2px solid var(---backgrey);
    height: auto;
    width: auto;
    font-weight: bold;
}

.filters-items .fa-solid {
    background-color: var(---lightblue);
    padding: 15px;
    border-radius: 30px;
    margin-left: -5px;
    color: var(---darkblue);
}

.filters-items:hover {
    box-shadow: 0 5px 5px var(---darkblue);
    transition: 0.3s;
}

.infos {
    display: block;
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5px;
}

.infos .fa-info{
    width: 20px;
    height: 20px;
    font-size: 10px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(---darkblue);
    border-radius: 50%;
    border: solid var(---backgrey) 2px;
}



/***MAIN**/
main.container {
flex-basis: 100%;
flex-flow:row nowrap;
max-width: 100%;
margin: 30px;
}
.accomodations-and-popular{
    width: 100%;
    display: flex;
    gap: 1%;
}
#accomodations-box,.popular-box,footer{
    margin: 0 auto;
    background-color: var(---backgrey);
}

/***************ACCOMODATIONS*************/

#accomodations-box{
    width: 65%;
    border-radius: 15px; 
    padding: 1%;
    
}

.cards-wrap
{   width: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.accomodation-card{
    width: 210px;
    display: block;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    font-size: small;
    border-radius: 15px;
    padding: 3px;
    margin:5px;
}

.accomodation-card:hover{
    box-shadow: 0px 2px 11px 6px rgba(0,0,0,0.45);
    cursor: pointer;
    transition: 0.3s;
}

.card-image{
    height: 100px;
    position: relative;
    overflow:hidden;
    border-radius: 15px 15px 0 0;

}
.card-image img{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border-radius: 15px 15px 0 0;
}
.card-body{
line-height: 1px;
padding:0 0 6px 6px;

}



/***************POPULAR*************/
.popular-box{
    width: 32%;
    border-radius: 15px;
    padding: 2%;
    gap: 1%;
   
}
.popular-box .title{
 width:100%;
 display: flex;
 flex-flow: row nowrap;
 align-items: center;
 justify-content: space-between;
 position: relative;
}

  

.popular-box .title .fa-solid{
    position:relative;
    right: 1px;
}

.cards-wrap2{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.popular-card{
  background-color: white;
  display: flex;
  height: 130px;
  width: auto;
  font-size: small;
  border-radius: 15px;
  padding: 3px;
  box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.45);
  margin: 10px;
}

.popular-card-image{
    width: 120px;
    height: auto;
    overflow:hidden;
    position: relative;
    border-radius: 15px 0 0 15px;
}
.popular-card-image img{
    min-height: 100%;
    max-height: :100%;
    object-fit: cover;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.popular-card-body{
 display: flex;
 flex-flow: column nowrap;
 justify-content: space-between;
 padding: 0 0 5px 10px;
 word-wrap: break-word;
  font-size: small;
}
.card-infos h4 {
    margin-top:5px;
    
}

.card-infos p{
   font-weight: normal;
   margin-top: -10px;;
}


/***************ACTIVITIES************/
#activities{
    display: flex;
    max-width: 100%;
    flex-flow:column wrap;
}

.activities.title{
    font-size: small;
    padding: 0;
    margin-left: 10px;
}

.activities-cards-wrap{
 min-width:100%;
 display: flex;
 flex-flow: row nowrap;
 margin: 0 auto;
}

#activities h4{
    font-size: small;
    padding-left: 10px;
}


.card-style{
    width:250px;
    height: fit-content;
    display: block;
    background-color: white;
    box-shadow: 0px 5px 20px var(---lightblue);
    overflow: hidden;
    border-radius: 15px;
    margin: 10px;
}

.activities-cards-wrap .card-image{
    height: 300px;
    position: relative;
}


.card-image img , .card-image2 img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


/**double-activity-container**/

.activities-cards-wrap .card-image2{
    height: 120px;
    position: relative;
}

.container2 .card2 .card-image2
{
  height: 150px;
}
.container2 .card3 .card-image2
{
  height: 90px;
}


.container2,.container4
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}



/* ************************FOOTER************************* */
footer h4{
    margin-bottom: 0;
}
footer ul{
    padding-left: 0;
}
footer{
    max-width: 100%;
}
.footer-links-container{
    width:80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-weight: 400;
    font-size: small;
}
.links-section{
    line-height: 20px;
}
.link1{
    margin-left:0;
}


/* *****************MEDIAQUERIES*********************** */

                    /*tablettes*/
@media screen and (max-width:768px){
    #bloc-page,body{
        margin: 0 auto;
       }

    /* ***header** */
    header {
        flex-flow: column wrap;
     }

    .header-menu-items li :hover {
     border-bottom: 2px solid var(---darkblue);
     padding-bottom: 30px;
     border-top: none;
    }

    /* ***SEARCHBOX** */
    .search-section-container{
        width: 100%;
    }

    button{
        display: block;
    }
    input[type=submit]{
        display: none;
    }
 /* ***ACTIVITIES** */

 #activities{
    margin: 0 auto;
 }
 .activities-cards-wrap{
    margin: 0 auto;
    flex-flow: column wrap;
 }
 .card-container{
    width: 100%;
    margin: o auto;
 }

    /* ***FOOTER** */

    footer{
        margin: 0 auto;
    }
    

}
/***********************************************************/
                    /*téléphones*/
@media screen and (max-width:700px){
   
   header,article,section,main,footer{
    width: 100%;
    margin: 0 auto;
}

    /* ***header** */

    header {
        flex-flow: column wrap;
    }

    .header-menu-items li :hover {
     border-bottom: 2px solid var(---darkblue);
     padding-bottom: 30px;
     border-top: none;
    }

    /* ***SEARCHBOX** */
    .search-intro,.search-box,.filters-wrap{
        margin: 0 auto;
        padding: 2%;
        font-size: smaller;
        align-items: center;
    }
    .filters-box{}

    button{
        display: block;
    }
    input[type=submit]{
        display: none;
    }
    .infos{
        display: flex;
        flex-flow: row nowrap;
    }

 /* ***ACCOMODATIONS AND POPULAR** */
 .accomodations-and-popular{
      flex-flow: column-reverse;
    
 }
 /* ***ACCOMODATIONS AND POPULAR** */
 .popular-box{
     width: 100%;
     margin: 0 auto;
 }
 #accomodations-box{
      width:100%;
     background-color:white;
     margin: 0 auto;

    
 }
 .accomodation-card{
    width: 100%;
    height: fit content;
 }


 /* ***ACTIVITIES** */
    #activities{
      width: 100%;
      margin: 0 auto;
 }
    .activities-cards-wrap{
     width:100%;
     display: flex;
     flex-flow: column wrap;
     margin: 0 auto;
   }
   .card-style {
    width: 100%;
    margin: 10px  auto;
   }
   .activities-cards-wrap .card-image
   
   {
    height: 120px;
    position: relative;
}
 .container2 .card3 .card-image2{
    height: 120px;
 }
    

 }


    
 /* ***FOOTER** */
   .footer-wrap{
     flex-flow: column;
   }


    footer{
        margin: 0 auto;
        flex-flow: column;
    }
    
 }
 