/************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

/***************************************************/

main,
{
    max-width: 1500px;
    margin:0 auto;
    padding: 0 10px; 
    border: 2px solid; 
}



/*general style*/
:root {
    ---darkblue: #0065FC;
    ---lightblue: #DEEBFF;
    ---backgrey: #F2F2F2;
}
:root{

}

.bluestar{
    color: var(---darkblue);
}
.greystar{
    color: var(---backgrey);
}
a{
    font-style: normal;
    color: inherit;
}

/***********************HEADER********************/
/*logo*/
.header-logo img {
    width: 150px;
}

/*menu*/
.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    border: 2px solid red;
    margin:0 auto
}
.nav-bar-items{
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 150px;
   width: 20%;
}
.height{
height: 150px;
width: 150px;
display: flex;
justify-content: center;
align-items: center;
border: 2px solid transparent;
}
.height:hover{
    border-top: 3px solid var(---darkblue);
    color: var(---darkblue);
}

/********************SEARCH-SECTION*********************/

/*intro*/
.search-section,
.search-section-container{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}
.search-section-container{
    width: 90%;
}

/*************search-bar*************/

.search-bar-container {
    width:400px;
    height: 50px;
    position: relative;
    border-radius: 15px;
    border: none;
    outline: none;
}

.border-style{
    border:none;
    outline:none;
    position:absolute;
}

.card-style{
    border-radius:15px;
    padding:2px;
}

/*********input*******créer des variables avec les width ,height**/
input{
    width: 100%;
    height: 50px;
    display: block;
    padding-left:20%;
    padding-right: 5%;
    border: 2px solid var(---backgrey);
    border-radius: 15px;
    outline: none;
}

/**********placeholder-style*****/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-weight: bold;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    font-weight: bold;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    font-weight: bold;
  }
/*************************************/
.desktop-btn
{width: 30%;
 height: 100%;
 right: 0;
 top: 0;
 background-color: var(---darkblue);
 color: white;
 font-weight: bold;
 border-radius: 0 15px 15px 0;
}

.fa-solid.fa-magnifying-glass{
 display: none;
}
     
.search-icon{
 height: 100%;
 background-color: var(---backgrey);
 border-radius: 15px 0 0 15px;

}

form .fa-solid{
    display: flex;
    align-items: center;
    justify-content: center;
    width:15%;
}  

/**************filters-wrap*********************/

/*filters*/
.filters-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.filters-title{
    margin-left: 10px;
}

.filters-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.filters-items {
    height: 50px;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(---backgrey);
    border-radius: 30px;
    margin:20px;
    font-weight: bold;/**variable**/
}

.rounded-btn{
    width: 50px;
    height: 50px;
    color:var(---darkblue);
    background-color:var(---lightblue);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    border: none;
    margin-left: -10px;
}

.filter-name{
    padding-right: 15px;
    padding-left: 10px;
}


.filters-items:hover {
    box-shadow: 0 5px 5px var(---darkblue);
    transition: 0.3s;
}


/****infos-tag****/

.infos {
    margin:10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.fa-solid.fa-info{
    border: solid var(---backgrey) 2px;
    width: 25px;
    height: 25px;
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(---darkblue);
    border-radius: 50%;

}

    
/***************GENERAL STYLE*****************/


/****************************MAIN**************************************/
main{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.accomodations-and-popular-container{
    display:flex;
    gap: 2%;
}

/***********************accomodations************************/
#accomodations{
    width: 65%;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: var(---backgrey);
    padding: 2%;
    border-radius: 15px;
}
.cards-container{
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.accomodation-card-1{
    width: 30%;
    max-width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 3px;
    overflow: hidden;
    margin: 10px;   
    box-shadow: 0px 5px 20px var(---backgrey);
}

.accomodation-card-1:hover{
    box-shadow: 0px 5px 20px #999;
    transition: 0.3s;
    flex-grow: 2;
}

.accomodation-card-1 img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.card-infos h4,
.card-infos p
{
    margin: 0;
}
.card-infos{
   display: flex;
   flex-flow: column wrap;
   margin:10px 0 10px 10px;
  
    gap: 5px;
}
.rate{
    font-size: small;
}

/******************************popular************************/
.popular{
    background-color:var(---backgrey);
    width: 33%;
    border-radius: 15px;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.popular .title{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.popular-cards-container{
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap:20px;
}

.popular-card{
    display: flex;
    width: 100%;
    min-height:140px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0px 5px 20px var(---backgrey);
}

.popular-card img {
    object-fit: cover;
    min-width:35%;
    width: 35%;
    height:140px;
    border-radius: 16px 0 0 16px;
}

.popular-card-infos h4,
.popular-card-infos p{
    margin: 5px;
}

.popular-card-infos{
 flex-basis: 100%;
 margin-left:10px;
 display: flex;
 flex-direction: column;
}  
.stars{
   margin-top: auto;
   margin-left: 5px;
}
   
/***************ACTIVITIES************/
#activities{
    width:100%;
    max-width: 100%;
    margin: 40px 0;
    display: flex;
    flex-flow:column wrap;
}

#activities .title{
    margin-left: 10px;
}
.activities-cards-wrap{
 width: 100%;
 height: 500px;
 display: flex;
 align-items: center;
 gap: 20px;
 

}
.activity-card-1{
    overflow: hidden;
}
.activities-cards-wrap img{
    width: 100%;
    max-width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit:cover;
}

/**********container-general-settings*********************/

.solo-container,
.duo-container{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.solo-container,
.small-container1,
.small-container2,
.small-container3,
.small-container4
{
    box-shadow:0px 5px 20px var(---lightblue);
    border-radius: 16px;
}

.solo-container a:hover
{
    box-shadow: 0px 5px 20px #999;
    transition: 0.3s;
    border-radius: 16px;
    flex-grow: 1;
}

.solo-container:hover,
.small-container1:hover,
.small-container2:hover,
.small-container3:hover,
.small-container4:hover,
.small-container5:hover
{
    box-shadow: 0px 5px 20px #999;
    transition: 0.3s;
    flex-grow: 1;
}

.duo-container{
   gap: 20px;
}


.card-body{
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0 auto;
    margin-left: 10px;
    

}
/**************************************************/

.small-container1{
    height: 260px;
}
.activity-card-2 img{
    height: 200px;
}


.small-container2{
    height: 220px;
    border-radius: 15px;
}
.activity-card-3 img{
    height: 160px;
}




.small-container3,
.small-container4{
    height: 240px;
    
}



.activity-card-5 img,
.activity-card-6 img{
    height:180px;
}

.activity-card-1 img,
.activity-card-4 img{
    height: 440px;
}

.solo-container:hover{
box-shadow: 0px 5px 20px  var(---lightblue) ;
    }
    
/* ************************FOOTER************************* */
footer{
    margin-top: auto;
    width: 100%;
   
}

footer ul ,
footer h4{
    padding-left: 0;
    margin: 0 0 10px 0;
}
footer a{
    font-weight: normal;
    
}

.footer-container{
    min-height: 170px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(---backgrey);
    padding: 2%;

}
.footer-container > .bloc{
    width: 30%;
    min-height:160px;
}
.margin1{
    margin-left: 2%;
}
.margin3{
    margin-right: 10%;
}
.bloc ul li{
 margin-top: 20px;
}




/* *****************MEDIAQUERIES*********************** */

                  /*desktop*/
@media screen and (min-width:992px) {
    
}
                   
                    /*tablettes*/
@media screen and (max-width:990px) and (min-width:768px){
    .nav-bar-items{
        display: flex;
        flex-direction: column;
        height: 100%;
     }
     .height:hover{
       font-weight: bold;
       border-top: none;
        background-color: var(---lightblue);
        color: var(---darkblue);
        transition: 0.3s;
    }
    /****/
    .search-section-container
    .footer-container{
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;
    }
 /*FOOTER*/
 .margin1{
    margin-left: 0;
}
.margin3{
    margin-right: 0;
}

    .footer-container > .bloc{
        color: BLUE;
       display: flex;
       flex-direction: column;

    }
    
    
    .search-intro{
        margin: 0 auto;
    }
    .search-intro p{
        text-align: center;
    }
    .search-bar-container
    {
     width: 50%;
     margin: 10px auto;
     text-align: center;
     }

      /****filters****/
      .filters-wrap{
        margin-top: 10px;
        width: 100%;
        padding: 3px;
        flex-direction: column;
   
        }
   
       .filters-box{
          width: 90%;
         flex-direction:row wrap;
         }
         .filters-wrap{
            margin: 0 auto;
         }

    
         .filters-items{
            margin: 5px;
         }
         .infos{
            margin: 0 auto;
         }
     
     
    
    .accomodations-and-popular-container{
        flex-flow:column-reverse;
        width: 100%;
        margin: 0 auto;
    }
    #accomodations{
        width: 100%;
    }
    .popular-cards-container{
        width: 100%;
        height: 100%;
        max-width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap:10px;
    }
    .popular{
        width:100%;
        max-width: 100%;
        border-radius: 15px;
        padding: 2%;
        display: flex;
        flex-direction:colum;
        background-color: white;
    }
    .popular-card{
        box-shadow: 0px 5px 20px var(---lightblue);
    }
    
 .mobile-btn{
    display: block;
 } 
 .accomodations-and-popular-container{
    flex-flow:column-reverse;
    width: 100%;
    margin: 0 auto;
}
}
/***********************************************************/
                    /*téléphones*/
@media screen and (max-width:767px){
    .header-logo{
        margin: 0 auto;
        padding: 5px;
    }
    .header-menu{
        height:150px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        line-height: 10px;


    }
    .height{
        height: 80px;
        width: 50%;
    }
    .height:hover{
        border-top: none;
        border-bottom: 3px solid var(---darkblue);
        color: var(---darkblue);
    }
   
    .nav-bar-items{
     width: 100%;
     border-bottom: 3px solid var(---backgrey);
     height: 80px;

    }

    /*header*/
    
    
     /*SEARCHBAR*/
     .search-section{
        margin: 10px auto;
     }
     .search-intro{
        width: 100%;
        margin: 0 auto;
     }
     .search-intro{
        width: 90%;

     }

     .search-intro h1{
       font-size: 22px;
       width: 100%;
       display:flex;
       align-items: center;
     }
     .search-intro p{
        width: 100%;
        display: flex;
        align-items: center;
     }
     /****btn****/

     .desktop-btn
     {width:auto;
      border-radius: 17px;
     }

     .desktop-btn span{
        display: none;
     }
    
     .fa-solid.fa-magnifying-glass{
     display: block;
     font-size: 15px;
     width: 50px;
     height: 100%;
     display: flex;
     
     }
     .search-bar-container
    {
     width: 100%;
     margin: 0 auto;
     margin-left: 10px;
     }
     
     /****infos****/

     .infos {
        flex-flow: row nowrap;
        margin: 0 auto;
    }
     /****filters****/
     .filters-wrap{
     margin-top: 10px;
     width: 100%;
     padding: 3px;

     }

    .filters-box{
        margin: 0 auto;
        padding: 2px;
        margin-left: 10px;
      }
      .filters-items{
       margin: 6px;
      }
  
  

     /*ACCOMODATION*/
     .card-style{
        width: 30%;
    }

    .accomodations-and-popular-container{
        flex-flow:column-reverse;
        width: 100%;
    }
    #accomodations{
        width: 100%;
        background-color: white;
    }
    .accomodation-card-1{
        width: 100%;
    }

    
     /*POPULAR*/

    .popular{
        width:100%;
        border-radius: 0;
    }

    .popular-card{

    }
    .popular-card img{

    }

     /*ACTIVITY*/
    .activities-cards-wrap{
        flex-direction:column;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
    .solo-container,
    .duo-container{
        min-width: 100%;
        height: auto;
    }


    .solo-container
    {
     height: 250px;
    }
    .duo-container{
        gap: 20px;

    }

    .small-container1,
    .small-container2,
    .small-container3,
    .small-container4{
        min-width: 100%;
        height: 250px;
    }
    .activities-cards-wrap img{
        height: 200px;
    }

    .card-body{
        height: 50px;
    }
    


    /*FOOTER*/
    .margin1{
        margin-left: 0;
    }
    .margin3{
        margin-right: 0;
    }
    .footer-container{
        width: 100%;
        height: 100%;
        flex-flow: column wrap;

    }
    .footer-container > .bloc{
        width: 90%;
        margin: 20px;
        border: 2px solid blue;

    }

    
}
 
 
   
 
 