/************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    max-width: 1440px;

}

/***************************************************/
main,header{
    max-width:1440px;
    margin: 0 auto;
    padding: 0 2%;
}

/*general style*/
:root {
    ---blue: #0065FC;
    ---bluelight: #DEEBFF;
    ---grey: #F2F2F2;
}


.bluestar{
    color: var(---blue);
}
.greystar{
    color: var(---grey);
}
a{
    font-style: normal;
    color: inherit;
}

/***********************HEADER********************/
/*logo*/
.header-logo img {
    width: 100px;
}

/*menu*/
.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    margin:0 auto
}

.nav-bar-items{
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 140px;
   width: 25%;
}

.link{
height: 140px;
width: 140px;
display: flex;
justify-content: center;
align-items: center;
border: 2px solid transparent;
}

.link:hover{
    border-top: 3px solid var(---blue);
    color: var(---blue);
}

/********************SEARCH-SECTION*********************/

/*intro*/
.search-section{
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    margin: 0 10px 20px 10px;
}
.search-intro p{
    margin-top:0;
}
.search-intro h1{
    font-size: 20px;
    margin: 0;
}
.search-intro{
    line-height:30px;
}

/*************search-bar*************/

.search-bar-container {
    width:400px;
    height: 50px;
    position: relative;
    border-radius: 15px;
    border: none;
    outline: none;
}

.border-style{
    border:none;
    outline:none;
    position:absolute;
}

.card-style{
    border-radius:15px;
    padding:2px;
}

/*********input*******créer des variables avec les width ,height**/
input{
    width: 100%;
    height: 50px;
    display: block;
    padding-left:20%;
    padding-right: 5%;
    border: 2px solid var(---grey);
    border-radius: 15px;
    outline: none;
}

/**********placeholder-style*****/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-weight: bold;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    font-weight: bold;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    font-weight: bold;
  }
/*************************************/
.desktop-btn
{width: 30%;
 height: 100%;
 right: 0;
 top: 0;
 background-color: var(---blue);
 color: white;
 font-weight: bold;
 border-radius: 0 15px 15px 0;
}

.fa-solid.fa-magnifying-glass{
 display: none;
}
     
.search-icon{
 height: 100%;
 background-color: var(---grey);
 border-radius: 15px 0 0 15px;

}

form .fa-solid{
    display: flex;
    align-items: center;
    justify-content: center;
    width:15%;
}  

/**************filters-wrap*********************/

/*filters*/
.filters-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.filters-title{
    font-size:12px;
}


.filters-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.filters-items {
    height: 50px;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(---grey);
    border-radius: 30px;
    margin:20px;
    font-weight: bold;
}

.rounded-btn{
    width: 50px;
    height: 50px;
    color:var(---blue);
    background-color:var(---bluelight);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    border: none;
    margin-left: -10px;
}

.filter-name{
    padding-right: 15px;
    padding-left: 10px;
}


.filters-items:hover {
    box-shadow: 0 5px 5px var(---blue);
    transition: 0.3s;
}


/****infos-tag****/

.infos {
    display: flex;
    align-items: center;
    gap: 5px;
}

.fa-solid.fa-info{
    border: solid var(---grey) 2px;
    width: 25px;
    height: 25px;
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(---blue);
    border-radius: 50%;

}

    

/****************************MAIN**************************************/

.accomodations-and-popular-container{
    display:flex;
    gap: 2%;
    margin: 10px;
}
.title h2{
    font-size: 23px;
}

/***********************accomodations************************/
#accomodations{
    width: 65%;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content:space-evenly;
    background-color: var(---grey);
    padding: 2%;
    border-radius: 15px;
}
.cards-container{
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
   justify-content: space-between;
}

.accomodation-card{
    width: 30%;
    max-width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 5px var(---grey);
    margin-bottom: 20px;
    display: block;
    
}

.accomodation-card:hover{
    box-shadow: 5px 5px 5px var(---bluelight);
    transition: 0.3s;
    color:var(---blue)
}

.accomodation-card img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.card-infos h4,
.card-infos p
{
 margin: 0;
}
.card-infos{
 display: flex;
 flex-flow: column wrap;
 margin:5px 0 5px 10px;
 line-height: 25px;

}
.rate{
    font-size: small;
}

/******************************popular************************/
.popular{
    background-color:var(---grey);
    width: 33%;
    border-radius: 15px;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.popular .title{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.popular-cards-container{
    width: 95%;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin: 0 auto;
}

.popular-card{
    width:100%;
    display: flex;
    height:150px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0px 5px 20px var(---grey);
}

.popular-card img {
    object-fit: cover;
    min-width:35%;
    width: 35%;
    min-height:100%;
    border-radius: 16px 0 0 16px;
}

.popular-card-infos h4,
.popular-card-infos p{
    margin: 10px;
    height: 100%;
}

.popular-card-infos{
 flex-basis: 100%;
 margin-left:10px;
 display: flex;
 flex-flow: column nowrap;
 border
}  
.stars{
   margin-top:auto;
   margin-left: 10px;
   font-size: small;
}
.popular-card:hover{
    box-shadow: 0px 5px 20px var(---bluelight);
    color: var(---blue);
    transition: 0.3s;
}
/***************ACTIVITIES************/
#activities{
    width:100%;
    max-width: 100%;
    display: flex;
    flex-direction:column;
    margin-top: 60px;
    margin-bottom: 60px;
}

#activities .title{
    margin: 0 0 0 21px;
}

.activities-cards-wrap{
 width: 100%;
 min-height: 500px;
 display: flex;
 align-items: center;

}

.activities-cards-wrap img{
    width: 100%;
    border-radius: 16px 16px 0 0;
    object-fit:cover;
}

.card-body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 60px;
    margin-left: 5%;
}

.solo-container,
.duo-container{
    width: 23%;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 16px;
    margin: 20px;
}

/******solo-container*****/
.solo-container
{
  box-shadow: 5px 5px 5px 1px var(---grey);
  transition: 0.3s;

}
.big-container{
    height: 100%;
}
.activity-card-1 img,
.activity-card-4 img{
 height: 430px;
 width: 100%;
}
.duo-container{
    gap: 33px;

}




/********************dual-container******************************/
.activities-cards-wrap a{
    box-shadow:5px 5px 5px 1px var(---grey) ;
}

.small-container1{
 height: 58%;
 border-radius: 16px;
 overflow: hidden;
 box-shadow: 5px 5px 5px 1px var(---grey);
 transition: 0.3s;
}

.activity-card-2 img{
    height:220px;
}



.small-container2{
 height: 34%;
 border-radius: 16px;
 box-shadow: 5px 5px 5px 1px var(---grey);
 overflow: hidden;
 transition: 0.3s;
 
 
}
.activity-card-3 img{
    height: 110px;
}

.small-container3,
.small-container4{
 height:46%;
 border-radius: 16px;
 overflow: hidden;
 box-shadow: 5px 5px 5px 1px var(---grey);
 transition: 0.3s;

}

.activity-card-5 img,
.activity-card-6 img{
   height:160px;

}


/* ************************FOOTER************************* */
footer ul ,
footer h4{
    padding-left: 0;
    margin: 10px 0 10px 0;
}
footer a{
    font-weight: normal;
    
}
footer  ul li{
    margin-top: 20px;
   }
   
   

/******/

footer{
    margin-top: auto;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(---grey);
    padding: 1%;
    padding: 2%;
}
footer>*{
    flex-basis:30%;
}



.bloc1{
    margin-left: 16px;

}




/* *****************MEDIAQUERIES*********************** */

                  /*desktop*/
@media screen and (min-width:992px) {
    
}
                   
                    /*tablettes*/
@media screen and (max-width:991px) and (min-width:768px){
    .nav-bar-items{
        display: flex;
        flex-direction: column;
        height: 100%;
     }
     .height:hover{
       font-weight: bold;
       border-top: none;
        background-color: var(---lightblue);
        color: var(---darkblue);
        transition: 0.3s;
    }
    /****/
    .search-section-container
    .footer-container{
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;
    }
 /*FOOTER*/
 .margin1{
    margin-left: 0;
}
.margin3{
    margin-right: 0;
}

    .footer-container > .bloc{
        color: BLUE;
       display: flex;
       flex-direction: column;

    }
    
     
    
    
    .search-intro{
        margin: 0 auto;
    }
    .search-intro p{
        text-align: center;
    }
    .search-bar-container
    {
     width: 50%;
     margin: 10px auto;
     text-align: center;
     }

      /****filters****/
      .filters-wrap{
        margin-top: 10px;
        width: 100%;
        padding: 3px;
        flex-direction: column;
   
        }
   
       .filters-box{
          width: 90%;
         flex-direction:row wrap;
         }
         .filters-wrap{
            margin: 0 auto;
         }

    
         .filters-items{
            margin: 5px;
         }
         .infos{
            margin: 0 auto;
         }
     
     
    
    .accomodations-and-popular-container{
        flex-flow:column-reverse;
        width: 100%;
        margin: 0 auto;
    }
    #accomodations{
        width: 100%;
    }
    .popular-cards-container{
        width: 100%;
        height: 100%;
        max-width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap:10px;
    }
    .popular{
        width:100%;
        max-width: 100%;
        border-radius: 15px;
        padding: 2%;
        display: flex;
        flex-direction:colum;
        background-color: white;
    }
    .popular-card{
        box-shadow: 0px 5px 20px var(---bluelight);
    }
    
 .mobile-btn{
    display: block;
 } 
 .accomodations-and-popular-container{
    flex-flow:column-reverse;
    width: 100%;
    margin: 0 auto;
}
     
}
/***********************************************************/
                    /*téléphones*/
@media screen and (max-width:767px){
    .header-logo{
        margin: 0 auto;
        padding: 5px;
    }
    .header-menu{
        height:150px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        line-height: 10px;


    }
    .height{
        height: 80px;
        width: 50%;
    }
    .height:hover{
        border-top: none;
        border-bottom: 3px solid var(---blue);
        color: var(---darkblue);
    }
   
    .nav-bar-items{
     width: 100%;
     border-bottom: 3px solid var(---grey);
     height: 80px;

    }

    /*header*/
    
    
     /*SEARCHBAR*/
     .search-section{
        margin: 10px auto;
     }
     .search-intro{
        width: 100%;
        margin: 0 auto;
     }
     .search-intro{
        width: 90%;

     }

     .search-intro h1{
       font-size: 22px;
       width: 100%;
       display:flex;
       align-items: center;
     }
     .search-intro p{
        width: 100%;
        display: flex;
        align-items: center;
     }
     /****btn****/

     .desktop-btn
     {width:auto;
      border-radius: 17px;
     }

     .desktop-btn span{
        display: none;
     }
    
     .fa-solid.fa-magnifying-glass{
     display: block;
     font-size: 15px;
     width: 50px;
     height: 100%;
     display: flex;
     
     }
     .search-bar-container
    {
     width: 100%;
     margin: 0 auto;
     margin-left: 10px;
     }
     
     /****infos****/

     .infos {
        flex-flow: row nowrap;
        margin: 0 auto;
    }
     /****filters****/
     .filters-wrap{
     margin-top: 10px;
     width: 100%;
     padding: 3px;

     }

    .filters-box{
        margin: 0 auto;
        padding: 2px;
        margin-left: 10px;
      }
      .filters-items{
       margin: 6px;
      }
  
  

     /*ACCOMODATION*/
     .card-style{
        width: 30%;
    }

    .accomodations-and-popular-container{
        flex-flow:column-reverse;
        width: 100%;
    }
    #accomodations{
        width: 100%;
        background-color: white;
    }
    .accomodation-card{
        width: 100%;
    }

    
     /*POPULAR*/

    .popular{
        width:100%;
        border-radius: 0;
    }

    .popular-card{

    }
    .popular-card img{

    }

     /*ACTIVITY*/
     .activities-cards-wrap{
        width: 100%;
        height: 100%;
        flex-direction: column;
     }
    
    .solo-container,
    .duo-container{
        min-width: 100%;
        height: auto;
    }


    .solo-container
    {
     height: 200px;
    }
    .duo-container{
        gap: 30px;

    }

    .small-container1,
    .small-container2,
    .small-container3,
    .small-container4{
        min-width: 100%;
        height: 200px;
    
    }
    .activities-cards-wrap img{
        height: 150px;
    }

    .card-body{
        height: 40px;
    }
    


    /*FOOTER*/
    .margin1{
        margin-left: 0;
    }
    .margin3{
        margin-right: 0;
    }
    .footer-container{
        width: 100%;
        height: 100%;
        flex-flow: column wrap;

    }
    .footer-container > .bloc{
        width: 90%;
        margin: 20px;
        border: 2px solid blue;

    }

    
}
 
 
   
 
 